.article {
  background-color: #ddd;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;

  .title {
    font-weight: bold;
    color: #333;
  }

  .intro {
    font-size: .8em;
  }

  .readMore {
    color: royalblue;
    font-size: .95em;
    text-decoration: underline;
  }
}